SPRING_PROFILES_ACTIVE=dev

DB_URL=jdbc:mysql://mysql:3306/ecommerce
DB_USERNAME=useradmin
DB_PASSWORD=your_password

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

VNPAY_TMN_CODE=your_code
VNPAY_HASH_SECRET=your_secret
VNPAY_RETURN_URL=http://localhost:5454/payments/vnpay-return
JWT_SECRET=your_256_bit_secret_key_here